<footer id="footer" class="row padding-top-xlarge padding-bottom-large large-collapse">
  <div class="columns medium-10">
    Subscribe: <a href="/updates/atom.xml">By feed (Atom, RSS-like)</a>
  </div>
  <div class="columns medium-2">
    <a href="/impressum">Impressum</a> |
    <a href="/contact">Contact</a>
  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
<link rel="stylesheet" href="/assets/selection-sharer/src/selection-sharer.css" />
<script src="/assets/selection-sharer/src/selection-sharer.js"></script>
<script src="/assets/app.js"></script>

{% comment %} Custom global JS could go here: {% endcomment %}
{% for js in site.custom_js %}
<script src="{{js}}"></script>
{% endfor %}

{% comment %} Custom Component Scripts (from individual .md files) go here: {% endcomment %}
{% for js in page.javascript %}
<script src="{{js}}"></script>
{% endfor %}
