<head>
  <meta charset="utf-8">
  <title>{% if page.title %} {{ page.title }} &lt; {% endif %} {{ site.name }}</title>
  <meta name="description" content="Somatisch">
  <meta name="keywords" content="information">
  <meta name="author" content="Somatisch">
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="width" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="#666666">

  <meta property="jk:src_url" content="https://github.com/somatisch/somatisch-site/blob/gh-pages/{{ page.path }}" />

  <!-- Use this CSS file for any custom styling -->
  <link rel="stylesheet" href="assets/app.css" type="text/css" media="all">
  <link rel="stylesheet" href="assets/tufte-css/tufte.css" type="text/css" media="all">
  {% comment %} Custom global CSS could go here: {% endcomment %}
  {% for css in site.custom_css %}
  <link rel="stylesheet" href="{{css}}" media="all">
  {% endfor %}
</head>
