<div data-sticky-container>
  <div class="sticky" data-sticky data-options="marginTop:0;" style="width:100%">
  <div class="padding-top-medium row">
  <a href="/">Somatisch</a>
  <div class="float-right">
    {% comment %}
    We construct the site naviagion by loading a list of the site's pages
    and filtering to just those with the front matter of:
      group: "in_local_navigation"
    and we order by adding
      order: 2 (whatever number)
    {% endcomment %}
    {% assign navigation_list = site.pages | sort:"order" %}
    {% assign group = 'in_local_navigation' %}
    {% include navigation_list.html %}
  </div>
  </div>
  </div>
</div>
