<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="">
    <div id="content" role="main" class="row">

      <section class="columns">
        <div class="row" id="main-content-area">

          <div class="medium-2 columns sidebar">
            {% include site_head.html %}
          </div>
          <div class="medium-8 medium-pull-2 columns large-pull-1 padding-top-xlarge">
          {{ content }}
          </div>

        </div>
      </section>

    </div><!-- /.container -->
    {% include footer.html %}
  </body>
</html>
