<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="">
    <!-- <h1><a href="/">Somatisch</a></h1> -->
    <div class="medium-12 columns padding-top-medium">
      {% include site_head.html %}
    </div>
    <div id="content" role="main" class="row">

      <section class="columns">

        <div class="row" id="main-content-area">

          <div class="medium-10 medium-push-1 columns  padding-top-xlarge">
          {{ content }}
          </div>

        </div>
      </section>

    </div><!-- /.container -->
    {% include footer.html %}
  </body>
</html>
